*{
    font-family: Arial, Helvetica, sans-serif;
}
/* table{
    width: 600px;
    margin: 10px auto;
    border-collapse: collapse; #comment this when use border-spacing

    border-spacing: 0px 10px; 
    empty-cells: hide;
}

tr.even{
    background-color: aqua;

}

tr:hover{
    background-color: blue;
}
th,td{
    padding: 10px;
    border: 2px solid salmon;
} */


/* FORM STYLING */


/* form{
    width: 500px;
    padding: 10px;
    margin: 10px auto;
    

}

input{
    padding: 10px; 
    margin: 5px;
    font-size: 1em;
    border: 1px solid slateblue;
}

input.email{
    background-image: url('https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Mail.png');
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 40px;

}

input.password{
    background-image: url('https://www.kindpng.com/picc/m/200-2005293_lock-password-icon-hd-png-download.png');
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 40px;
}
input:focus{
    border-color: seagreen;
}

button{
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

fieldset{
    border-radius: 5px;
    border: 1px solid gray;
}
legend{
    padding: 10px;
    background-color: cadetblue;
    color: brown;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 5px;

}

div{
    text-align: center;
}

label{
    display: inline-block;
    width: 100px;
    text-align: right;
} */


/* LAYOUT CHAP 15 */

body{
    background-color: cornflowerblue;
}
.black{
    background-color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 5px 10px 5px 10px;

}



.white{
    background-color: white;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 5px 10px 5px 10px;

}

img.chess{
    position: absolute ;
    top: 85px;
    bottom: auto;
    left: 143px;
    
}
img.backtotop{
    position: fixed;
    bottom: 10px;
    right: 30px;

}
/* img{
    position: relative;
    top: 30px;
} */

div.first{
    width: 300px;
    height: 40px;
    background-color: crimson;
    float: left;
}

div.second{
    width: 120px;
    height: 40px;
    background-color: darkgreen;
    float: left;
    
    /* position: absolute;
    top: 560px;
    left: 7px;
    z-index: -1; */
}

p{
    clear: both;
}

@import url('index.css');

/* fixed width layout example */

body {
    width: 960px;
    margin: 0 auto;}
    #content {
    overflow: auto;
    height: 100%;}
    #nav, #feature, #footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;}
    .column1, .column2, .column3 {
    background-color: #efefef;
    width: 300px;
    float: left;
    margin: 10px;}
    li {
    display: inline;
    padding: 5px;}

     